:root {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 100%;
}

button, input, select, textarea, div, p {
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000; 
}

main {
  /* 특별한 경우가 아니면 화면은 항상 Header, Content, Footer로 분리 */
  /* 이 양식이 아닌 페이지의 경우 해당 svelte 파일에서 main css 작성 */
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr 40px;
}

.header-container {
  z-index: 1;
  height: 70px;
  top: 0;
}

.footer-container {
  z-index: 1;
  bottom: 0;
}


.main-list-visible {
  transform: translateX(220px); 
  transition: transform 0.5s ease;
}

.main-list-invisible {
  transform: translateX(0px);  
  transition: transform 0.5s ease; 
}

/* visualization css */
.visualization-list-visible {
  transform: translateX(400px); 
  transition: transform 0.5s ease;
}

.visualization-list-invisible {
  transform: translateX(0px);  
  transition: transform 0.5s ease;   
}

.visualization-vertical-line {
  position: absolute;
  top: 0;
  left: 78vw;
  height: calc(100vh - 70px); 
  width: 1px; 
  background-color: #414852; 
}

.algorithm-title-container {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.canvas {
  background-color: #FFFFFF;
  height: 78vh;
  width: 73vw;
  border: 5px solid #313131;
  border-radius: 20px;
}

.animation-control-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.animation-control-btn {
  color: #909090;
  font-size: 1.5rem;
  padding-right: 5px;
  cursor: pointer;
}

.animation-control-btn:hover {
  transform: scale(1.1);
}

.animation-slider {
  width: 500px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 10px;
  cursor: pointer;
  margin-left: 10px;
  background: linear-gradient(to right, #509650 0%, #585858 0%);
}
  
.animation-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px; 
  width: 10px; 
  background: #d9d9d9;
  cursor: pointer; 
}

.speed-slider {
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 10px;
  cursor: pointer;
  background: #585858;
  margin-left: 100px;
}
  
.speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px; 
  width: 10px; 
  background: #d9d9d9;
  cursor: pointer; 
}

.speed-label {
  color: #FFFFFF;
  font-size: 1.2rem;
  width: 75px;
  padding-left: 10px;
}

.explanation-container {
  height: 19vh;
  width: 20vw;
  display: grid;
  grid-template-rows: 40px 140px;
  background-color: #509650;
  border-radius: 0 0 5px 5px; 
}

.explanation-title {
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px 0px 0px 10px;
  border-bottom: 10px solid #0d0e0f; 
}

.explanation {
  color: #FFFFFF;
  font-size: 1.1rem;
  padding: 6px 0px 0px 10px;
}

.code-container {
  height: 64vh;
  width: 20vw;
  display: grid;
  grid-template-rows: 40px 569px;
  background-color: #3b3f3b;
  border-radius: 0 0 5px 5px; 
}

.code-title {
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px 0px 0px 10px;
  border-bottom: 10px solid #0d0e0f; 
}

.code-area {
  color: #FFFFFF;
  font-size: 1.1rem;
  padding: 6px 0px 0px 0px;
}

.code-area .code {
  height: 32.5px;
  line-height: 32.5px; 
}

.navigation-container {
  position: absolute;
  z-index: 1000;
}
/* visualization css */

/* navigation css */
.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161a23;
  border-radius: 10px;
}

.navigation-menu { 
  /* 9개 사각형 둘러싸고 있는 부분 */
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu .navigation { 
  /* 9개 사각형 부분 */
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.navigation-menu .navigation span {
   /* 각각의 사각형(비활성화): 가운데 사각형 제외 */
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transform: translate(calc(10px * var(--x)), calc(10px * var(--y)));
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.navigation-menu .navigation span ion-icon {
  /* 각각의 사각형의 아이콘(비활성화): 가운데 사각형 제외 */
  color: #FFFFFF;
  font-size: 0.25rem;
  transition: 0.5s;
}

.navigation-menu .navigation.active span ion-icon { 
  /* 각각의 사각형의 아이콘(활성화): 가운데 사각형 제외 */
  font-size: 1.75rem;
}

.navigation-menu .navigation.active span:hover ion-icon { 
  /* 각각의 사각형의 아이콘에 커서 올렸을 때: 가운데 사각형 제외 */
  color: #50C878;
}

.navigation-menu .navigation.active span { 
  /* 각각의 사각형(활성화): 가운데 사각형 제외 */
  width: 45px;
  height: 45px;
  background: #1f2536;
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
  border-radius: 5px;
}

.navigation-menu .center { 
  /* 가운데 사각형(비활성화) */
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  transition: 0.5s;
}

.navigation-menu .navigation.active ~ .center {
  /* 가운데 사각형(활성화) */
  width: 40px; 
  height: 40px;
  pointer-events: initial;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 5px;
}

.navigation-menu .navigation ~ .center ion-icon { 
  /* 가운데 사각형의 아이콘(비활성화) */
  color: #FFFFFF;
  font-size: 2.5rem;
  scale: 0;
  transition: 0.5s;
}

.navigation-menu .navigation.active ~ .center ion-icon { 
  /* 가운데 사각형의 아이콘(활성화) */
  scale: 1;
}  

.navigation-menu .navigation.active ~ .center:hover ion-icon { 
  /* 각각의 사각형의 아이콘에 커서 올렸을 때: 가운데 사각형 제외 */
  color: #50C878;
}

.navigation-tooltip {
  background-color: transparent;
  color: #161a23;
  position: absolute;
  top: -90px;
  font-size: 1.2rem;
  font-weight: bolder;
  white-space: nowrap; 
}

.navigation-toggle {
  display: flex;
  position: absolute;
  left: 100px;
  top: -81.5px;
  width: fit-content;
  background-color: #161a23;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  gap: 10px;
}

.navigation-toggle input, button {
  border-radius: 2.5px;
  border: none;
}

.navigation-toggle button {
  background-color: #FFFFFF;
  cursor: pointer;
}

.navigation-toggle button:hover {
  background-color: #CCCCCC;
}
/* navigation css */

/* guide-button css */
.guide-button {
  margin-left: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.guide-button:hover {
  background-color: #444;
}
/* guide-button css */

/* algo-guide css */
#popup-container {
  position: absolute;
  display: flex; align-items: center; justify-content: center;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

/* 책 전체 */
#guide-book {
  position: relative;
  width: 70%; height: 90%;
  background-color: saddlebrown; color: #FFFFFF;
  border-radius: 10px;
  display: flex; align-items: center; justify-content: center;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5), 0 1em 3em rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* 책등 표현*/
#guide-book::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 50%;
  box-shadow: 0 0 1rem 1rem rgba(60, 30, 10, 0.5);
}

/* 페이지 전체 */
.page {
  position: relative;
  display: grid; grid-template-columns: 1fr 1fr;
  width: 95%; height: 95%;
  background: #fff; color: black;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5), 0 1em 3em rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

/* 페이지 가운데 접힘부 */
.page::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 50%;
  width: 0.3rem;
  transform: translateX(-50%);
  box-shadow: 0 0 1rem 1rem #d5d5d5;
  background: linear-gradient(
          to right,
          #a1a1a1 0%,
          #a1a1a1 33%,
          #7a7a7a 33%,
          #7a7a7a 100%
  );
}

.left-page, .right-page {
  overflow: hidden;
}

/* 왼쪽 남은 페이지 */
.left-page:not(.first-page)::after {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 1.5rem;
  box-shadow: -0.5rem 0 1rem -0.5rem rgba(0, 0, 0, 0.3);
  transform: translateX(-0.5rem);
  background: repeating-linear-gradient(
          to left,
          rgba(0, 0, 0, 0.05) 0px,
          rgba(0, 0, 0, 0.05) 2px,
          transparent 2px,
          transparent 6px
  );
}

/* 오른쪽 남은 페이지 */
.right-page:not(.last-page)::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; right: 0;
  width: 1.5rem;
  box-shadow: -0.5rem 0 1rem -0.5rem rgba(0, 0, 0, 0.3);
  transform: translateX(0.5rem);
  background: repeating-linear-gradient(
          to left,
          rgba(0, 0, 0, 0.05) 0px,
          rgba(0, 0, 0, 0.05) 2px,
          transparent 2px,
          transparent 6px
  );
}

.forward-page, .backward-page {
  width: 100%; height: 100%;
}

/* 뒷페이지는 180도 반전 */
.backward-page {
  transform: rotateY(180deg);
  display: none;
}

/* 오른쪽 페이지 flip 애니메이션 */
.right-page.flip-nxt1 {
  transform-origin: left center;
  animation: flipNxt1 0.35s ease-out forwards;
}

.right-page.flip-nxt2 {
  transform-origin: left center;
  animation: flipNxt2 0.35s ease-out forwards;
}

/* 0도 ~ 90도에서는 앞면이 보이게, 90도 ~ 180도에서는 뒷면이 보이게 */
.right-page.flip-nxt2 .forward-page {
  display: none;
}

.right-page.flip-nxt2 .backward-page {
  display: block;
}

@keyframes flipNxt1 {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(-90deg); }
}

@keyframes flipNxt2 {
  0%   { transform: rotateY(-90deg); }
  100% { transform: rotateY(-180deg); }
}
/* 오른쪽 페이지 flip 애니메이션 */

/* 왼쪽 페이지 flip 애니메이션 */
.left-page.flip-prev1 {
  transform-origin: right center;
  animation: flipPrev1 0.35s ease-out forwards;
}

.left-page.flip-prev2 {
  transform-origin: right center;
  animation: flipPrev2 0.35s ease-out forwards;
}

/* 0도 ~ 90도에서는 앞면이 보이게, 90도 ~ 180도에서는 뒷면이 보이게 */
.left-page.flip-prev2 .forward-page {
  display: none;
}

.left-page.flip-prev2 .backward-page {
  display: block;
}

@keyframes flipPrev1 {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(90deg); }
}

@keyframes flipPrev2 {
  0%   { transform: rotateY(90deg); }
  100% { transform: rotateY(180deg); }
}
/* 왼쪽 페이지 flip 애니메이션 */

/* flip 애니메이션에서 넘기는 페이지의 원래 자리가 비어있지 않도록 */
.background-page {
  position: absolute;
  height: 100%; width: 50%;
  overflow: hidden;
  display: none;
}

.background-page.show-next {
  right: 0;
  display: block;
}

.background-page.show-prev {
  left: 0;
  display: block;
}
/* flip 애니메이션에서 넘기는 페이지의 원래 자리가 비어있지 않도록 */

.sheet {
  display: grid;
  background: #fff; color: black;
  grid-template-rows: 1fr 15fr 1fr;
  padding: 1.3rem;
  height: 95%;
}

.page-title {
  display: flex; justify-content: center; align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid gray; /* 삭제? */
}

.page-content {
  border-bottom: 1px solid gray; /* 삭제? */
  padding: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.page-num {
  display: flex; justify-content: center; align-items: center;
  font-size: 1.2rem;
}

.page-content-img {
  border-bottom: 1px solid gray; /* 삭제? */
  display: flex; justify-content: center; align-items: center;
}

.page-content-txt {
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

/* QHD 미디어 쿼리 */
@media screen and (min-width: 2560px) {
  .page-title, .page-num {
    font-size: 1.6rem;
  }

  .page-content-txt {
    font-size: 1.4rem;
  }
}
/* algo-guide css */